data/handx/
data/processing/ARCTIC/mano/
data/processing/ARCTIC/raw_seqs/
data/processing/ARCTIC/skeleton/
data/processing/ARCTIC/skeleton_canonicalized/
data/processing/ARCTIC/skeleton_split/
data/processing/ARCTIC/temp/
data/processing/ARCTIC/text/
data/processing/H2O/mano/
data/processing/H2O/raw/
data/processing/H2O/skeleton/
data/processing/H2O/skeleton_canonicalized/
data/processing/H2O/skeleton_split/
data/processing/H2O/text/
diffusion/body_models/mano/
evaluation/checkpoints/
evaluation/experiments/
autoregressive/data/
autoregressive/results/
autoregressive/glove/
autoregressive/dataset/HandX/
__pycache__/
evaluation/evaluation_results.json
evaluation/embeddings.npz
diffusion/exps/*.DS_Store
.DS_Store
simulation/custom_mano/
simulation/physhoi/